{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="middle">
            <td ><img src="{{ utilisateur.avatar }}" style="border-radius:10%; box-shadow: 0px 0px 15px white;"/></td>
            <td><h1>Utilisateur: {{ utilisateur.nom }}</h1>
            {% if utilisateur.a_propos_de_moi %}<p>{{ utilisateur.a_propos_de_moi }}</p>{% endif %}
            {% if utilisateur.dernier_acces %}<p>Dernier acces: {{ utilisateur.dernier_acces }}</p>{% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <table>
        {% for p in publications %}
        {% include '_publication.html' %}
        {% endfor %}
    </table>
{% endblock %}